<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<!-- 软件信息 -->
		<add key="SoftwareEnglishName" value="SrLink"/>
		<add key="SoftwareChineseName" value="Sr连接器"/>
		<add key="Version" value="v2.2.9_beta"/>
		<!-- 校园认证地址 -->
		<add key="CertifyUrl" value="http://172.8.231.22:803/include/auth_action.php"/>
		<!-- 认证地址Query参数格式（配合string.format()使用，需要输入用户名和密码） -->
		<add key="CertifyUrlParam" value="action=login&amp;username={0}&amp;password={{B}}{1}&amp;ac_id=2&amp;user_ip=&amp;nas_ip=&amp;user_mac=&amp;save_me=1&amp;ajax=1"/>
		<!-- 发送邮件使用的账号 -->
		<add key="MailUser" value="srlink@yeah.net"/>
		<add key="MailAuthorizationCode" value="XRDCVAVKHGXICICQ"/>
		<add key="MailHost" value="smtp.yeah.net"/>
		<!-- 软件配置文件名 -->
		<add key="ConfigFileName" value="SRLinkConfig.json"/>
		<!-- 测试网络是否连通的测试网址 -->
		<add key="TestConnectionUrl" value="www.baidu.com"/>
		<!-- 注册表开机启动名称 -->
		<add key="AutoRunName" value="SRLinkAutoRun"/>
		<!-- 注册表设置开机启动路径 -->
		<add key="AutoRunRegPath" value="Software\Microsoft\Windows\CurrentVersion\Run"/>
		<!-- L2TP默认服务器 -->
		<add key="IpServerDefault" value="192.168.200.1"/>
		<!-- L2TP连接器名 -->
		<add key="AdapterName" value="SLINK_L2TP"/>
		<!-- 一天最晚连接时间（23 * 60）min -->
		<add key="NightNotLink" value="1380"/>
	</appSettings>
</configuration>